---
layout: default
---

{% for post in paginator.posts %}
<article class="h-entry">
    <header>
        <h1>
            <a class="p-name u-url u-uid" href="{{ post.url | relative_url }}" rel="bookmark">{{ post.title | escape }}</a>
        </h1>
    </header>
    {% include post-meta.html post=post %}
    <div class="e-content">
        {{ post.content }}
    </div>
    <a href="{{ post.url | relative_url }}#comments">View Comments</a>

</article>
{% endfor %}

<nav class="pagination">

    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" rel="prev">Previous</a>
    {% else %}
    <span></span>
    {% endif %}

    <a href="/archive">Archive</a>

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" rel="next">Next</a>
    {% else %}
    <span></span>
    {% endif %}

</nav>