<div class="meta">
    
    <div class="meta-top">
        <time class="dt-published" datetime="{{ include.post.date | date_to_xmlschema }}">
            Posted <span class="ago"></span>
            on
            {% if page.is_post %}
            <a href="/archive#{{ include.post.date | date: "%Y" }}">
                {{ include.post.date | date: "%Y-%m-%d"  }}
            </a>
            {% else %}
            <a class="u-url" href="{{ include.post.url }}" rel="bookmark">
                {{ include.post.date | date: "%Y-%m-%d"  }}
            </a>
            {% endif %}
        </time>
        <span>
            {% for tag in include.post.tags %}
            <a class="p-category" href="/tags#{{ tag | slugify }}" rel="tag">{{ tag | upcase }}</a>
            {% endfor %}
        </span>
    </div>

    {% if include.post.reply-to %}
    <div class="reply-context">
        ↩ In reply to
        {% for source in include.post.reply-to %}
            {% if forloop.first != true %}
                and
            {% endif %}
            <a href="{{ source.url }}" class="u-in-reply-to">{{ source.name }}</a>
        {% endfor %}
    </div>
    {% endif %}

    <a style="display: none;" rel="author" class="p-author h-card" href="{{ site.parent_url }}">Emilio Arias</a>
    <img style="display: none;" class="u-photo" src="https://ariasemi.com/avatar.png" />

</div>