<section id="comments">
    <h2>Comments</h2>

    <!-- submit -->
    <form method="POST" >
        
        <fieldset>
            <label class="autosize">
                <span>Leave a Comment:</span>
                <textarea
                    name="fields[message]"
                    rows="1"
                    oninput="this.parentNode.dataset.value = this.value"
                    spellcheck></textarea>
            </label>

            <label>
                <span>Name:</span>
                <input type="text" name="fields[name]">
            </label>

            <label>
                <span>E-mail:</span>
                <input type="email" name="fields[email]">
            </label>
        </fieldset>

        <button>Submit</button>
    </form>

    <!-- TODO: comment list -->

</section>