<section id="comments">
    <h2>Comments</h2>

    <form method="POST" >
        
        <fieldset>
            <label class="autosize">
                <span>Leave a Comment:</span>
                <textarea
                    name="fields[message]"
                    rows="1"
                    oninput="this.parentNode.dataset.value = this.value"
                    spellcheck></textarea>
            </label>

            <label>
                <span>Name:</span>
                <input type="text" name="fields[name]">
            </label>

            <label>
                <span>E-mail:</span>
                <input type="email" name="fields[email]">
            </label>
        </fieldset>

        <button>Submit</button>
    </form>

    <div class="comment-list">
        <div class="comment-item">
            <img class="comment-avatar" src="https://www.gravatar.com/avatar/?d=mm&amp;s=50" alt="John Smith">
            <div>
                <header>
                    <strong>John Smith</strong>
                    on
                    <time>{{ "2020-05-29 13:05:28 -0300" | date: "%Y-%m-%d" }}</time>
                </header>
                <div>
                    <p>
                        This? This is freakin' awesome! Thanks so much for sharing your mad skills and expertise with us!
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>