<aside class="side">
    <div class="bio">
        <div>
            <a href="/"><img class="bio-img" src="{{ "/assets/ariasemilio.png" | relative_url }}"></a>
        </div>
        <div>
            <p>Hi there!</p>
            <p>I'm <strong>Emi</strong> and this is where I write <a href="/archive">stuff</a>.</p>
            <p>You can keep up with what I'm doing by following the
                <a href="{{ "/feed.xml" | relative_url }}">RSS feed</a> for the blog.
            </p>
        </div>
    </div>
    <footer>© 2020 Emilio Arias</footer>
</aside>