<aside class="side">
    <div class="bio">
        <div>
            <a href="/">
                <img class="bio-img" src="{{ "/assets/img/avatar.png" | relative_url }}" alt="selfie">
            </a>
        </div>
        <div>
            <p>Hi there!</p>
            <p>I'm <strong>Emi</strong> and this is where I write <a href="/archive">stuff</a>.</p>
            <p>You can keep up with the blog by following my
                <a class="feed" href="{{ "/feed.xml" | relative_url }}">feed</a>.
            </p>
        </div>
    </div>
    <footer>© 2020 Emilio Arias</footer>
</aside>