<aside class="side">
    <div class="bio h-card">
        <div>
            <a href="/">
                <img class="bio-img u-photo" src="{{ "/assets/img/avatar.png" | relative_url }}" alt="photo of Emi">
            </a>
        </div>
        <div>
            <p>Hi there!</p>
            <p>I'm <a rel="author" class="u-url p-nickname" href="{{ site.parent_url }}">Emi</a> and this is where I write <a href="/archive">stuff</a>.</p>
            <p>You can keep up with the blog by following my
                <a class="feed" href="{{ "/feed.xml" | relative_url }}">feed</a>.
            </p>
        </div>
    </div>
    <footer>© 2020 Emilio Arias</footer>
</aside>