form {
    font-family: $font-sans;
    padding: .35rem .75rem .6rem .75rem;
    border: solid 1px $color_dark_on_light;

    *, *::before, *::after {
        box-sizing: border-box;
    }

    button, input, select, textarea {
        font-family: inherit;
        font-size: 1em;
    }

    fieldset {
        position: relative;
        margin: 0;
        padding: 0;
        border: none;
    }

    label {
        display: flex;
        align-items: baseline;
        margin: 1em 0;

        span {
            margin: 0;
            margin-right: 1em;
            text-transform: uppercase;
            font-size: .8em;
            min-width: 4em;
            cursor: pointer;
        }

        input, select, textarea {
            flex-basis: 0;
            flex-grow: 1;
            padding: 0;
            margin: 0;
            border: none;
            background: none;
            appearance: none;

            &:invalid, &:-moz-ui-invalid {
                outline: none;
                box-shadow: none;
                text-decoration: underline red wavy;
                text-decoration-thickness: .1em;
            }
        }

        textarea {
            overflow: auto;
            resize: vertical;
        }

        &:focus-within {

            input:focus, select:focus, textarea:focus {
                outline: none;
            }

            span {
                color: $color_main;
            }
        }
    }

    .autosize {
        display: grid;
        position: relative;
        align-items: stretch;
        vertical-align: top;

        &::after, textarea {
            grid-area: 2 / 1;
            width: auto;
            min-width: 1em;
        }

        &::after {
            content: attr(data-value) ' ';
            visibility: hidden;
            white-space: pre-wrap;
        }

        span {
            margin-bottom: 1em;
        }
    }

    .hidden {
        display: none;
    }

    .hp {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        z-index: -1;
    }

    .loading {
        cursor: wait;
    }

    .disallowed {
        cursor: not-allowed;
    }

    button {
        display: block;
        margin-left: auto;
        color: $color_dark_on_light;
        padding: .25em .5em;
        border: solid 1px $color_dark_on_light;
        cursor: pointer;

        &:hover, &:focus {
            background: $color_main;
            color: $color_light_on_dark;
            outline: none;
        }

        &::-moz-focus-inner {
            border-style: none;
            padding: 0;
        }

        &:disabled {
            color: $color_shadow_dark;
            background-color: $color_shadow_light;
            border-color: $color_shadow_dark;
        }
    }

    .error-message {
        font-size: .9rem;
        margin: 0;
        margin-bottom: 1rem;
        color: red;
    }

    .success-message {
        font-size: .9rem;
        margin: 0;
        margin-bottom: 1rem;
        color: green;

        a {
            color: inherit;
            text-decoration-line: underline;

            &:hover, &:focus {
                color: inherit;
            }
        }
    }
}
