body {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 60rem;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.main {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 61.9%;
    min-height: 90vh;
    padding: 3rem 3rem 0;
}

.side {
    padding: 2rem;

    // sticky sidebar
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    // move text to the side of the image on small width
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 12rem;
    align-items: center;
    justify-content: center;

    & > * {
        flex-basis: 12rem;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 1.5rem;

    & > * {
        flex: 1;
        text-align: center;
    }
}

.post-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

// reduce padding on small screen
@media only screen and (max-width: 30rem) {
    .main {
        padding: 0 1rem;
    }
}

// remove sticky if not enough height
@media only screen and (max-height: 22.5rem) {
    .side {
        position: relative;   
    }
}