body {
    // center content
    margin: 0 auto;
    
    // size
    min-height: 100vh;
    max-width: 60rem;

    // layout
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start; // for sticky sidebar
}

.main {
    // fills remaining space and shrinks until min-width
    flex-basis: 0;
    flex-grow: 1;
    min-width: 61.9%;
    padding: 3rem 3rem 0;

    // TODO: responsive reduce padding
}

.side {
    // flex: 0 0 auto; // size of the content, does not grow nor shrinks
    // max-width: 12rem;

    padding: 2rem;

    // sticky sidebar
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    // TODO: responsive move text to the side of the image
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 12rem; // instead of flex+max-width
    align-items: center;
    justify-content: center;

    & > * {
        flex-basis: 12rem;
    }

    // TODO: responsive remove sticky if little height
}