body {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 60rem;
}

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.feed-container {
    display: flex;
    flex-direction: column;
    
    .oneliner {
        margin: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .oneliner > * {
        display: inline;
    }
}

.main {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 61.9%;
    min-height: 90vh;
    padding: 3rem 3rem 0;
}

.side {
    flex: 1 0 12rem;
    padding: 2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    .bio {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    
        & > * {
            flex-basis: 12rem;
        }
    }

    footer {
        margin-top: 0.5rem;
        text-align: center;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 1.5rem;

    & > * {
        flex: 1;
        text-align: center;
    }
}

.archive {
    padding-bottom: 2rem;
}

.meta {
    margin-bottom: 1.5rem;

    .meta-top {
        display: flex;
        justify-content: space-between;
    }
}

#comments {
    margin-bottom: 3rem;
}

.webmention-form {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: .5rem;
}

// reduce padding on small screen
@media only screen and (max-width: 30rem) {
    .main {
        padding: 0 1rem;
    }
}

// remove sticky if not enough height
@media only screen and (max-height: 22.5rem) {
    .side {
        position: relative;   
    }
}

@-ms-viewport{
    width: device-width;
}