
html {
    font-family: $font-serif;
    background-color: $color_dark_on_light;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }

.main {
    background-color: $color_light_on_dark;
    color: $color_dark_on_light;
    
    h1, h2, h3, h4, h5, h6 {
        font-family: $font-sans;
        
        a {
            color: $color_dark_on_light;

            &:hover {
                color: $color_main;
            }
        }
    }

    a {
        color: $color_main;

        &:hover, &:focus {
            color: $color_main_light;    
        }
    }

    p {
        line-height: 1.5rem;
    }
        
    dl {
        font-size: 0.9rem;
        
        dt {
            font-size: 1rem;
            font-weight: bold;
        }
        
        dd {
            margin-bottom: 0.5em;
        }
    }

    li::marker {
        font-size: 0.8em;
        color: $color_main;
    }

    abbr {
        font-weight: bold;
        text-transform: uppercase;
        cursor: help;
    }

    q, blockquote {
        font-style: italic;
        quotes: "“" "”" "‘" "’";

        &::before, &::after {
            color: $color_main;
        }

        &::before {
            content: open-quote;
        }
    
        &::after {
            content: close-quote;
        }
    }

    q::before, q::after {
        line-height: 0.1em;
        vertical-align: -.2em;
        font-size: 1.5em;
        font-style: normal;
    }

    blockquote {
        position: relative;

        &::before, &::after {
            position: absolute;
            line-height: 1em;
            font-size: 4em;
        }

        &::before {
            left: -.8em;
        }

        &::after {
            right: 0;
            bottom: -.5em;
        }
    }

    cite:before {
        content: '\2014\00A0';
    }

    p cite {
        display: block;
        text-align: right;
        margin-top: -.5rem;
        font-size: .9rem;
    }

    table {
        width: 100%;
        font-size: 0.9em;
        font-family: $font-sans;
        border: 1px solid $color_dark_on_light;
        border-collapse: collapse;
        margin-bottom: 1rem;

        thead {
            background-color: $color_main;
            color: $color_light_on_dark;
        }

        td, th {
            padding: 0.25rem 0.5rem;
            border: 1px solid $color_dark_on_light;
        }

        th {
            text-align: left;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 0 1rem;
    }
    
    article + * {
        border-top: 1px solid $color_shadow_light;
        margin-top: 2rem;
    }
}

.side {
    font-family: $font-sans;
    font-size: 0.9rem;
    color: $color_light_on_dark;

    a {
        color: $color_main;

        &:hover {
            color: $color_main_light;
        }
    }

    .bio-img {
        max-width: 10rem;
        border-radius: 10rem;
    }
}

.archive {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    h5 {
        border-bottom: solid 1px $color_shadow_light;
    }
}

.post-meta {
    font-family: $font-sans;
    font-size: 0.8rem;
    color: $color_shadow_dark;
    border-bottom: solid 1px $color_shadow_light;

    a {
        color: inherit;
        margin: 0 0.1em;
        &:hover {
            color: $color_main;
        }
    }
}
