<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body>

    <main class="main">
        {{ content }}
    </main>

    <aside class="side">
        <div class="bio">
            <div>
                <a href="/"><img class="bio-img" src="{{ "/assets/img/4vaTar.png" | relative_url }}"></a>
            </div>
            <div>
                <p>
                    H̷̗̝̝̳̍͠ȉ̷͇͈͎̻̽̚ ̶̟͙͗̀t̴̗̰̺̄̔̎̀͜ḥ̵̠̭͉̀̆̚e̶̖̼̣̓̅̉̏ͅŗ̸̜̣͚̾̀͗͝ë̷̙̦̓͘!̸̲̈̂͑̏͜
                </p>
                <p>
                    ̶̻̃İ̶̫̞̙̑'̵̬̝̞̹͗m̴̡͙̪̟͐͒̀ ̶̻͛̋̐E̶͈͇͛͘m̶̱̻̯̫͊į̴̟͎̠̏ ̵̨̼͈̰̒͘ä̶̜́͠ṉ̵̘͌̋͗̚d̵̨̙͈̆͠ ̵̟̦̤̗̅̃ţ̴͚͔̀͛h̶̢̰̞̒͌͘͜į̷̣́͋̕͜s̴̯̠̰̫̀͊ ̶̪͎̫͛̆̏̽i̴̫̲̩̾s̷̛̓̋͜ ̴̛̪͔͂w̸̟͘ḩ̸̫̤̌ë̸͉̖́́r̵̖̉͋͘é̴̱͖̟͒͝ ̴̮͠Ị̷́̀ ̶͍̈͋̔w̸̥̗̫̋͐r̷̨̬͚͇̈ī̴̤͖t̶̼͝ȩ̶͓̠͒̄̾͑ ̸̧̙͈͆̓<a href="/archive">s̸̩̝̻͕͈͎̿͊t̵̢͇̹̯̤̿͑̓̃͘u̴̮̩͛̅̑̚f̸̧̢͓̔́͒f̷̨̛͑̋̍̓̐</a>.̵̹̈́
                </p>
                <p>
                    ̶̜̦͇͊Y̶̨͎̐͂̈́̕ǒ̸̦͖̒̏́u̷͇͌̑ ̴̥̓̈͂͝č̴͚̀â̶̘̹̏ṉ̷̝̪̥̓̈̓̄ ̵̹̣̎k̴̪͕̫̅ê̸͈̐̾̕é̸̹̹̗̞p̵̩̐͜͝ ̷̦̓̃ṷ̷̢̏p̶̝̩͖̘͛̃ ̴̡̠̗͆w̶͇͒̓̎̕i̶̺͐͝t̶̠̗̓̈h̸̘̳̏ ̷̭̘̻̅̓̔w̴̨͍̳͎̿͛͛͝h̶̲͈̰̑̕a̵͕̪̻͇͋͌͋t̶̳͆̄̕͝ ̵̨̟͗Ȉ̸̳͔͚̯̇̎'̸̝̥͋͠m̴̻̩̦̓̊ ̶̻͕͙̀̽d̶̨̛͎̰͆̋͐ő̵̗̙͕̀̓̒i̸͕͎̞̹̓̚n̶̮̠̰̒g̶̩̅̋ ̵̡̛̠̾͒b̴͔̰̫̾̆́ͅy̷͙͒̉ ̴̧͔͋̋̀͠f̶͓̿͊͝͝o̴̧̰̼͂̒͊l̸̬̱̍̓̾l̸̡̛o̸͙͋w̶͔̻͋́ị̶͙̗͑̋n̸͈̠̾̂g̸̛̘̋͝ ̸̻̍̽̋̐t̸̥̻̿̍̏͜h̷͖͎͗̚ę̴̨̟̼̆̈́ ̷̜͒͝
                    <a href="{{ "/feed.xml" | relative_url }}">R̸̢͙̝̤̣͖͔̆̐͑͐̎͘S̶̨̳͕̟̗̮͛͐̌́͛͜͝S̷̳͈̜̱̒̒̅̄̾͆̔ ̸̣̒͆͊ḟ̵̲̜͔̹͇̦̞̑e̵̢̛̺͕̬̓́̈̈́̿e̵͕͑̍͋̑̊d̵̮͚̰̣͖͎͈̊̐̒̕̕͝</a>
                    ̴̟̍̾͊̃f̶̼̦̮̦̿ȍ̵͍͘ṛ̶̭̰̭̌̿̇ ̶͚̻̯̑̓͜t̸̝͊̚h̶̟̦̞͗̉͋͝e̶̢͙̮̻̕ ̶̳̩̖̒b̶̰̗͍́͑l̵̩͉̓̆o̶̺̝̙͉͛g̶͚͌.̸̥̖͆
                </p>
            </div>
        </div>
        <footer>©̶̯́ ̴̫͠2̷̰̀0̵̢͆2̷͙̆0̸͖̑ ̵͕̿E̸̪͌m̸̘͛i̶͉͒l̴͎̿į̴̅o̷̘͝ ̵͂ͅA̶̫͌r̶̲̓ḯ̷ͅa̴͇͂s̷̿ͅ</footer>
    </aside>

</body>

</html>