<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body class="container">

    <main class="main">
        {{ content }}
    </main>

    <aside class="side">
        <div class="bio">
            <div>
                <a href="/">
                    <img class="bio-img" src="{{ "/assets/img/4vaTar.png" | relative_url }}" alt="corrupted selfie">
                </a>
            </div>
            <div>
                <p>
                    H̷̗̝̝̳̍͠ȉ̷͇͈͎̻̽̚ ̶̟͙͗̀t̴̗̰̺̄̔̎̀͜ḥ̵̠̭͉̀̆̚e̶̖̼̣̓̅̉̏ͅŗ̸̜̣͚̾̀͗͝ë̷̙̦̓͘!̸̲̈̂͑̏͜
                </p>
                <p>
                    ̶̻̃İ̶̫̞̙̑'̵̬̝̞̹͗m̴̡͙̪̟͐͒̀ ̶̻͛̋̐<a rel="author" class="h-card" href="{{ site.parent_url }}">E̶͈͇͛͘m̶̱̻̯̫͊į̴̟͎̠̏</a> ̵̨̼͈̰̒͘ä̶̜́͠ṉ̵̘͌̋͗̚d̵̨̙͈̆͠ ̵̟̦̤̗̅̃ţ̴͚͔̀͛h̶̢̰̞̒͌͘͜į̷̣́͋̕͜s̴̯̠̰̫̀͊ ̶̪͎̫͛̆̏̽i̴̫̲̩̾s̷̛̓̋͜ ̴̛̪͔͂w̸̟͘ḩ̸̫̤̌ë̸͉̖́́r̵̖̉͋͘é̴̱͖̟͒͝ ̴̮͠Ị̷́̀ ̶͍̈͋̔w̸̥̗̫̋͐r̷̨̬͚͇̈ī̴̤͖t̶̼͝ȩ̶͓̠͒̄̾͑ ̸̧̙͈͆̓<a href="/archive">s̸̩̝̻͕͈͎̿͊t̵̢͇̹̯̤̿͑̓̃͘u̴̮̩͛̅̑̚f̸̧̢͓̔́͒f̷̨̛͑̋̍̓̐</a>.̵̹̈́
                </p>
                <p>
                    Y̵͔͋̒͊͋̌ơ̷̤͋͑̐̽̕ư̴̧̧͎̜̍̀͒̚͜ͅ ̴̧̡̣̻̺̖̕c̴̦̜͚̰̫̔͘à̵̲̀ṋ̷͎̩̘͐̈̔ͅ ̴̪̯͆̒ķ̵͔̖͔̭̌e̵̱͑́͆́̂͝ē̸̺̓̎͂̔̒ͅp̷̠͒́͆̄ ̴̛̥͚͈̩̰̫̄̔͆̾͛ư̶̧͇̥̬̇́́̕p̶̥͙͂ ̴̦̹̲̠̇̿͑w̷͔̤̱̠̫̓͂͠į̸̪͔̥́̔̿̂ͅt̸̖̦̀̑̆̓̾͝h̵̹̊̊͜ ̶̦̻̓͐̔͒̀̀͜t̴̨̥̗͋̽͊ḩ̵̱̰͎̅ḛ̵̓̎̊͝͝͠ ̶̨̦͖́̍̌̕̕b̴̤̯͉̆͝l̸̝͓͇̑̊ȯ̴̪g̸̦̟̫̪͋ͅ ̴̲̗̏̈́̈́b̶̰̯̤̫͊͌̈́͛͋y̶̧̲̰̙̺̓͐̿ ̵̞̹̳̮͊f̵̢̧͕͈̀̂̈́̾͋o̶̼̞̰̜̝͂̓́l̶̢̖͔̔l̷͔̱͑͋̉͊̀ỏ̷̝̻̘͙̦̀̍̊w̴̡̹͙̫̱̾͑i̶̡̛͓̼̟͋̐̆ṅ̶͙̭̤̀͑g̴̮͐ ̶͕̳̈́̾m̶̙̔̄͂y̷̛̟͉̺̋̀͘͝ ̵͖͕̳͚̈́̈́̐͗
                    <a class="feed" href="{{ "/feed.xml" | relative_url }}">ḟ̵̲̜͔̹͇̦̞̑e̵̢̛̺͕̬̓́̈̈́̿e̵͕͑̍͋̑̊d̵̮͚̰̣͖͎͈̊̐̒̕̕͝</a>.̸̥̖͆
                </p>
            </div>
        </div>
        <footer>©̶̯́ ̴̫͠2̷̰̀0̵̢͆2̷͙̆0̸͖̑ ̵͕̿E̸̪͌m̸̘͛i̶͉͒l̴͎̿į̴̅o̷̘͝ ̵͂ͅA̶̫͌r̶̲̓ḯ̷ͅa̴͇͂s̷̿ͅ</footer>
    </aside>

</body>

</html>