name: build_pr

on:
  pull_request:
    branches: [ $default-branch ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: setup pages
      uses: actions/configure-pages@v5
    - name: build with jekyll
      uses: actions/jekyll-build-pages@v1
